.TotalBasket-container {
    margin: 20px;
    position: sticky;
    border-radius: 10px;
    top: 20px; /* Bu satırı ekleyin */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    height: min-content;
    background-color: white;
    
}

.total-basket__selected-products-label {
    padding: 10px;
    color:#f27c1c;
}
.total-basket__complete-shop-container {
    padding: 20px;
}
.total-basket__complete-shop-button {
    padding: 5px;
    background-color: #f27c1c;
}

