* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*>a{
 all: unset; 
  cursor: pointer;
}
.read-the-docs {
  color: #888;
}

@media screen and (-ms-high-contrast: active) {
  /* High contrast styles */
}

/* New way - Forced Colors Mode */
@media (forced-colors: active) {
  /* High contrast styles */
}



.App {
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh; /* Sayfa yüksekliğine göre arka plan */
  width: 100vw;
}


