.CategoryPage {
  /* Your CSS styles here */
}

.category-name {
    font-size: 24px;
    margin-left: 30px;
}

.products-count {
    padding:2px;
    margin: 0 26px;
}

.category-filter-container {
    border: 2px solid #ddd;
    width: 300px;
    margin-left: 20px;
    padding: 0; 
}

.category-filter-container > * {
    display: block;
    width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    padding: 10px; 
}

.category-filter-container > *:not(:last-child) {
    border-bottom: 1px solid #ddd; 
}

.products-Container__product {
    display:flex;
    flex-direction: row;
}