

.product-reviews__user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: gray;
}