
.product-container {
    display: flex;
    flex-direction: column;
}

.Product {
    display: flex;
    flex-direction: row;
    /* Your CSS styles here */
}

.product__addProduct {
    height: 100px;
    width: 300px;
    background-color: rgba(86, 111, 165, 0.7);
}

.product__addProduct:hover {
    background-color: rgba(86, 111, 165, 1);
}


.product__information-container__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.product__information-container__comment-count {
    color: #fb5e00;
}





.product-container__product-info-container__title-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.product-container__product-info-container__title-label > div {
    cursor: pointer;
    font-size: 24px;
}

.product-container__product-tab-content >*{
    padding: 10px;
    
}
.activeTab {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
    color: #007bff;
}