.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Header__Components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 25px;
    max-height: 100px;
    gap: 35px;
    position: relative;
}






