.Products {
    /* Your CSS styles here */
}

.products-container {
    min-width: 1100px;
    width: 800px;
    gap: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.product__price-container {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}



.product__book-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(208, 213, 187, 0.52);
    height: 46px;
    width: 46px;
    border-radius: 6px;
    cursor: pointer;
}
.bookmark-icon:hover {
    color: #fd600c; /* Hover rengi */
}
