.Products {
    /* Your CSS styles here */
}

.products-container {
    min-width: 800px;
    width: 800px;
    gap: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

